@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@font-face {
    font-family: "Days One";
    src: url("DaysOne-Regular.ttf");
    }


/* BASIC TAGS */

:root{
    --dark-blue: #1E0D4E;
    --white: #F2F0F9;
    --magenta: #DE36EB;
    --purple: #5921D2;
    --grey: #EBE7F0;
    --light-purple: #C3B1EC;
    font-size: 16px;
    overflow-x: hidden;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: var(--white);
    color: var(--dark-blue);
    background-image: url(../src/images/bg2.png);
    background-repeat: repeat-y;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 0 16em 0 8em;
}
a{
    text-decoration: none;
    color: var(--grey);
}
h1{
    font-size: 2.6em;
}
h2, h3, h4 {
    font-weight: 300;
}
h2{
    font-size: 1.5rem;
    margin: 0;
}
table{
    display: flex;
    align-items: center;
    justify-content: center;
    border-spacing: 0;
    margin-bottom: 2rem;
}
td{
    padding: 0;
    margin-top: 0.2rem;
}
th{
    background-color: var(--purple);
    padding: 0.7rem 0.5rem;
}


/* BUTTON COMPONENT */

.btnDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5.5rem;
}
.btn{
    background-color: var(--white);
    color: var(--dark-blue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    border-color: var(--magenta);
    border-style: solid;
    cursor: pointer;
}
.btnActive{
    background-color: var(--magenta);
    color: var(--white);
    font-size: 1.1rem;
}
.headerBtn{
    font-family: "Days One", sans-serif;
    font-weight: 200;
    background-color: var(--magenta);
    color: var(--white);
    display: flex;
    justify-content: center;
    margin: 1.5rem auto;
}
.tableBtn{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-color: var(--white);
    border-style: ridge;
}
.btnInactive{
    background-color:lightgray;
    cursor: default;
}
.btnClickable{
    background-color: var(--white);
    cursor: pointer;
}
.btnChosen{
    background-color: var(--light-purple);
    cursor: pointer;
}
.bookingsBtn {
    font-size: 1rem;
    padding: 0.2rem 0.7rem;
    font-weight: 300;
}


/* LOGOUT */

.logoutShow {
    display: block;
    margin-left: 2rem;
}
.logoutHide {
    display: none;
}


/* LOGIN */

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}
.signup {
    height: 100vh;
}
form{
    padding: 2rem 4rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    color: var(--dark-blue);
}
.link{
    color: var(--dark-blue);
}
.form h1 {
    color: var(--purple);
}
.formInput {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    margin: 1rem 0 0 0;
}
input{
    padding: 0.7rem;
    margin: 0.2rem 0;
    border-radius: 5px;
    border: 1px solid gray;
}
label {
    font-size: 1rem;
    color: var(--magenta);
    margin-bottom: 0.5rem;
}
.name{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.firstName {
    width: 6rem;
}
.lastName {
    width: 10rem;
    margin-left: 1.5rem;
}
.errorMessage {
    font-size: 0.7rem; 
    margin: 0.5rem 0 1rem 0 ;
    display: none;
}
input:invalid[focus = "true"] {
    border-color: red;
}
input:invalid[focus = "true"] ~ .errorMessage {
    display: block;
    color: red;
}
input:focus{
    border-color: var(--purple);
}


/* OTHER CUSTOM CLASSES */

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.error {
    font-size: 1rem; 
    margin: 0.5rem 0 1rem 0 ;
    color: red;
}
.hidden {
    display: none;
}
.companyName{
    color: var(--magenta);
    font-family: 'Russo One', sans-serif;
    letter-spacing: 0.05em;
    font-size: 1.5rem;
    margin: 0;
}
.companyName > span {
    color: var(--purple);
}
.rightHeaderDiv {
    display: flex;
    flex-direction: row;
}
.hero {
    background-color: var(--purple);
    background-image: url(../src/images/bg.png);
    color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 6.2rem 4rem 6.5rem;
}
.header{
    font-family: 'Days One', 'Russo One', sans-serif;
    font-weight: 200;
    font-size: 2.2rem;
}
.hero h2{
    width: 50vw;
    opacity: 85%;
}
.hero p{
    white-space: pre-wrap;
    width: 30vw;
    opacity: 73%;
    margin-top: 2em;
}
.roomDiv{
    flex-direction: column;
    margin-bottom: 4rem;
}
.roomDiv h1{
    margin-top: 6rem;
}
.imgDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 26rem;
    max-width: 1920px;
}
.imgDiv img{
    width: 33.33%;
    object-fit: fill;
    margin: 0 auto;
}
.purpleTitle{
    color: var(--purple);
    font-weight: 700;
}
.additionalInfo{
    margin: 0 4em;
}
.info {
    margin-top: 0.5rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    color: var(--white);
    margin-top: 4rem;
}
.footerInfo{
    padding: 0 12rem 0 8rem;
}
.footer img{
    width: 50vw;
    height: 15rem;
    object-fit: fill;
}
.radioForm {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.radioForm div input{
    margin-right: 0.3rem;
}
.bookingsTd, .bookingsTh{
    padding: 1rem;
    text-align: center;
}
.bookingsTd{
    background-color: var(--white);
}